In [35]:
import geopandas as gpd
import pandas as pd

In [10]:

file = "HangJeongDong_ver20230701.geojson"    

# open file
gdf = gpd.read_file(file)

gdf["n1"] = None  
gdf["n2"] = None 
gdf["n3"] = None

In [24]:
for index, country in gdf.iterrows():   
    neighbors = ~gdf.geometry.disjoint(country.geometry)
    nl = []
    for j in range(len(neighbors)):
        if neighbors[j] and j!=index:
            nl.append(j)
    gdf.at[index, "n1"] = nl

In [25]:
from collections import deque
for index,country in gdf.iterrows():
    n2c=[]
    n3c=[]
    n1 = gdf.at[index, "n1"]
    q=deque()
    q.append((index,0))
    vs=set()
    vs.add(index)
    while q:
        k,dep=q.popleft()
        if k!=index and k not in n1 and dep==2:
            n2c.append(k)
        if k!=index and dep==3:
            n3c.append(k)
        if dep==3:
            continue
        for i in gdf.at[k, "n1"]:
            if i!=index and i not in vs:
                q.append((i,dep+1))
                vs.add(i)

    # 동이름 추가
    gdf.at[index,'name'] = gdf.at[index,'temp'].split()[1]
    gdf.at[index, "n2"] = n2c
    gdf.at[index, "n3"] = n3c

In [52]:
u=gdf.drop(columns=['adm_cd','sgg','sido','adm_cd8','geometry','temp'])
u=u[['adm_cd2','adm_nm','name','sggnm','sidonm','n1','n2','n3']]
u.columns=['code','full_name','name','sgg_name','sd_name','n1','n2','n3']

In [56]:
adj = gpd.pd.DataFrame()
adj['area_id']=None
adj['target_id']=None
adj['distance']=None
for index, cell in u.iterrows():
    for target in u.at[index,'n1']:
        adj.loc[len(adj)]=[index,target,1]
    for target in u.at[index,'n2']:
        adj.loc[len(adj)]=[index,target,2]
    for target in u.at[index,'n1']:
        adj.loc[len(adj)]=[index,target,3]

In [57]:
adj

       area_id  target_id  distance
0            0          4         1
1            0          5         1
2            0          7         1
3            0         15         1
4            0         17         1
...        ...        ...       ...
85997     3522       1467         3
85998     3522       1566         3
85999     3522       3426         3
86000     3522       3427         3
86001     3522       3435         3

[86002 rows x 3 columns]

In [58]:
u=u.drop(columns=['n1','n2','n3'])
u

            code        full_name  name sgg_name  sd_name
0     1111053000    서울특별시 종로구 사직동   사직동      종로구    서울특별시
1     1111054000    서울특별시 종로구 삼청동   삼청동      종로구    서울특별시
2     1111055000    서울특별시 종로구 부암동   부암동      종로구    서울특별시
3     1111056000    서울특별시 종로구 평창동   평창동      종로구    서울특별시
4     1111057000    서울특별시 종로구 무악동   무악동      종로구    서울특별시
...          ...              ...   ...      ...      ...
3518  4148054000      경기도 파주시 교하동   교하동      파주시      경기도
3519  3611051800  세종특별자치시 세종시 나성동   나성동      세종시  세종특별자치시
3520  3611052300  세종특별자치시 세종시 어진동   어진동      세종시  세종특별자치시
3521  4129052000      경기도 과천시 갈현동   갈현동      과천시      경기도
3522  4159063000     경기도 화성시 동탄9동  동탄9동      화성시      경기도

[3523 rows x 5 columns]

In [60]:
from sqlalchemy import create_engine
import pymysql
db_connection_str = 'mysql+pymysql://root:password@localhost:3306/team2_server'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [63]:
u.to_sql(name='area',con=db_connection, if_exists='replace',index_label='id')

3523

In [64]:
adj.to_sql(name='area_adj',con=db_connection, if_exists='replace',index_label='id')

86002

In [65]:
u.to_csv('area.csv')
adj.to_csv('adj.csv')

In [74]:
nu = pd.read_csv('area.csv')
nu

      Unnamed: 0        code        full_name  name sgg_name  sd_name
0              0  1111053000    서울특별시 종로구 사직동   사직동      종로구    서울특별시
1              1  1111054000    서울특별시 종로구 삼청동   삼청동      종로구    서울특별시
2              2  1111055000    서울특별시 종로구 부암동   부암동      종로구    서울특별시
3              3  1111056000    서울특별시 종로구 평창동   평창동      종로구    서울특별시
4              4  1111057000    서울특별시 종로구 무악동   무악동      종로구    서울특별시
...          ...         ...              ...   ...      ...      ...
3518        3518  4148054000      경기도 파주시 교하동   교하동      파주시      경기도
3519        3519  3611051800  세종특별자치시 세종시 나성동   나성동      세종시  세종특별자치시
3520        3520  3611052300  세종특별자치시 세종시 어진동   어진동      세종시  세종특별자치시
3521        3521  4129052000      경기도 과천시 갈현동   갈현동      과천시      경기도
3522        3522  4159063000     경기도 화성시 동탄9동  동탄9동      화성시      경기도

[3523 rows x 6 columns]

In [73]:
nadj = pd.read_csv('adj.csv')
nadj

       Unnamed: 0  area_id  target_id  distance
0               0        0          4         1
1               1        0          5         1
2               2        0          7         1
3               3        0         15         1
4               4        0         17         1
...           ...      ...        ...       ...
85997       85997     3522       1467         3
85998       85998     3522       1566         3
85999       85999     3522       3426         3
86000       86000     3522       3427         3
86001       86001     3522       3435         3

[86002 rows x 4 columns]